name: Workflow Scheduler

concurrency:
  group: benchmark-lock
  cancel-in-progress: false

on:
  workflow_dispatch:
    inputs:
      _70b_1k1k:
        description: '70B 1K/1K'
        required: false
        type: boolean
        default: true

      dsr1_1k1k:
        description: 'DSR1 1K/1K'
        required: false
        type: boolean
        default: true

      gptoss_1k1k:
        description: 'gpt-oss 1K/1K'
        required: false
        type: boolean
        default: true

      _70b_8k1k:
        description: '70B 8K/1K'
        required: false
        type: boolean
        default: true

      dsr1_8k1k:
        description: 'DSR1 8K/1K'
        required: false
        type: boolean
        default: true

      gptoss_8k1k:
        description: 'gpt-oss 8K/1K'
        required: false
        type: boolean
        default: true

      _70b_1k8k:
        description: '70B 1K/8K'
        required: false
        type: boolean
        default: true

      dsr1_1k8k:
        description: 'DSR1 1K/8K'
        required: false
        type: boolean
        default: true

      gptoss_1k8k:
        description: 'gpt-oss 1K/8K'
        required: false
        type: boolean
        default: true

  schedule:
    - cron: '0 5 * * *'

jobs:
  _70b-1k1k:
    if: ${{ inputs._70b_1k1k }}
    uses: ./.github/workflows/70b-tmpl.yml
    secrets: inherit
    with:
      exp-name: '70b_1k1k'
      isl: 1024
      osl: 1024
      max-model-len: 2048
      random-range-ratio: 0.8

  dsr1-1k1k:
    if: ${{ inputs.dsr1_1k1k }}
    uses: ./.github/workflows/dsr1-tmpl.yml
    secrets: inherit
    with:
      exp-name: 'dsr1_1k1k'
      isl: 1024
      osl: 1024
      max-model-len: 2048
      random-range-ratio: 0.8

  gptoss-1k1k:
    if: ${{ inputs.gptoss_1k1k }}
    uses: ./.github/workflows/gptoss-tmpl.yml
    secrets: inherit
    with:
      exp-name: 'gptoss_1k1k'
      isl: 1024
      osl: 1024
      max-model-len: 2048
      random-range-ratio: 0.8

  _70b-8k1k:
    if: ${{ inputs._70b_8k1k }}
    uses: ./.github/workflows/70b-tmpl.yml
    secrets: inherit
    with:
      exp-name: '70b_8k1k'
      isl: 8192
      osl: 1024
      max-model-len: 9216
      random-range-ratio: 0.8
  
  dsr1-8k1k:
    if: ${{ inputs.dsr1_8k1k }}
    uses: ./.github/workflows/dsr1-tmpl.yml
    secrets: inherit
    with:
      exp-name: 'dsr1_8k1k'
      isl: 8192
      osl: 1024
      max-model-len: 9216
      random-range-ratio: 0.8

  _70b-1k8k:
    if: ${{ inputs._70b_1k8k }}
    uses: ./.github/workflows/70b-tmpl.yml
    secrets: inherit
    with:
      exp-name: '70b_1k8k'
      isl: 1024
      osl: 8192
      max-model-len: 9216
      random-range-ratio: 0.8
      timeout: 240

  dsr1-1k8k:
    if: ${{ inputs.dsr1_1k8k }}
    uses: ./.github/workflows/dsr1-tmpl.yml
    secrets: inherit
    with:
      exp-name: 'dsr1_1k8k'
      isl: 1024
      osl: 8192
      max-model-len: 9216
      random-range-ratio: 0.8
